[Desktop Entry]
Comment[de_DE]=Graphische Oberfläche für ClamAV
Comment=Graphische Oberfläche für ClamAV
Comment[da_DK]=Grafisk brugerflade til ClamAV
Comment[fr]=Interface graphique pour ClamAV
Comment[it]=Interfaccia grafica per ClamAV
Comment[pt]=Interface gráfica para o ClamAV
Comment[pt_BR]=Interface gráfica para o ClamAV
Comment[uk]=Графічний інтерфейс для ClamAV
Exec=clamav-gui
GenericName[de_DE]=ClamAV-GUI
GenericName=ClamAV-GUI
Icon=clamav-gui
MimeType=
Name[de_DE]=ClamAV-GUI
Name=ClamAV-GUI
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=Categories=Qt;KDE;System;Security;
